<h2>Productos Comprados</h2>
<%= paginate @purchase_products, param_name: 'product_page' %>

<table>
  <thead>
    <tr>
      <th>SKU del Producto</th>
      <th>Nombre del Producto</th>
      <th>Peso</th>
      <th>Stock Actual</th>
      <th>Valor USD</th>
    </tr>
  </thead>
  <tbody>
    <% @purchase_products.each do |product| %>
      <tr>
        <td><%= product[:sku] %></td>
        <td><%= product[:description] %></td>
        <td><%= product[:notes] %></td>
        <td><%= product[:stock] %></td>
        <td><%= product[:valor_usd] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @purchase_products, param_name: 'product_page' %>
